<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title_block %}{% endblock title_block %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'basic_app/base_style.css' %}">
        <link rel="stylesheet" href="{% block style_block %}{% endblock style_block %}">
        
    </head>
    <body>

    <header>
         <img src="{% static 'basic_app/user.png' %}" alt="logo" class="logo">

         <nav>
         <ul class="nav__links">
         <li><a href="{% url 'basic_app:list' %}">list</a></li>
         <li><a href="{% url 'admin:index' %}">admin</a></li>
         <li><a href="{% url 'home' %}">home</a></li>
         </ul>
         </nav>
         <a href="#" class='cta'><button>contact</button></a>
         
         </header>
        
        
        {% block body_block %}
        
        
        
        {% endblock body_block %}
        <script src="" async defer></script>
    </body>
</html>