<!DOCTYPE html>
{% load static %}
<html>
    <head>
       
        <title>{% block Title %}{% endblock Title %}</title>
        <link rel="stylesheet" href="{% static 'project/style.css' %}">
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
     
    </head>
    <body>
      <header>
      <a href="{% url 'home' %}" class="logo">
      
         <img src="{% static 'project/user.png' %}" alt="logo" class="logo">
      
      </a>

         <nav>
         <ul class="nav__links">
         <li><a href="{% url 'faculty:teachers' %}">Faculty</a></li>
         <li><a href="{% url 'feedback:form' %}">feeback</a></li>
        
         <li><a href="{% url 'faculty:newteacher' %}">New Faculty</a></li>
         </ul>
         </nav>
         <a href="{% url 'admin:index' %}" class='cta'><button>Admin</button></a>
         </header>
    <header>     
    
 </header>
 {% block Content %}
    
    
    {% endblock Content %}

    
      
        
    </body>
</html>